[Desktop Entry]
Type=Application
Name=GUI4RivalCfg
Comment=SteelSeries mouse configuration with rivalcfg
Exec=@EXEC@
Icon=@ICON@
Terminal=false
Categories=Utility;
